/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}


.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 2.4em !important;
  width: 2.5em !important;
  
  border-radius: 4em;
  border: 1px solid white;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #fb3636;
  --primary-color-dark: #d92f2f;
  --secondary-color: #fafcff;
  --text-dark: #3f0d0d;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: black;
  max-width: calc(var(--max-width) / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: rgb(20, 20, 183);
  border-radius: 5rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
button {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

p {
  color: white;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: url('https://png.pngtree.com/background/20230427/original/pngtree-chocolate-and-coffee-on-dark-background-picture-image_2494239.jpg?sscid=11k8_6jokf&') center/cover;
  opacity: 0.85;
  padding: 8rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #181a27;
  border: 1px solid black;
 /* align-items: end; */
  
  /* padding: 8rem; */
  
}

.header__content>div {
  max-width: 100%;
  padding: 4rem;
}

.header__content .sub__header {
  font-size: 3rem;
  font-weight: 600;
  color: black;
  margin-top: 0.6rem;
  font-family: cursive;
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: black;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video__image {
  position: relative;
  /* border-color: black; */
  /* background-color: #181a27; */
}

.video__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: pink;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
}

.video__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video__image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  /* background-color: transparent; */
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story>span {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;

}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  height: 100%;

  /* width: 300px; */
}

.destination__card img {
  border-radius: 1rem;
  background-size: 200px;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: white;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  /* background-color: transparent; */
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content>div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}

.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

.link {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.hover-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link:focus-within .hover-content {
  display: block;
  opacity: 1;
}

.hover-content p {
  margin: 0;
  padding: 5px;
  color: #333;
}

.view__all2 {
  text-align: center;
  justify-content: center;
}

.section__container .btn {
  margin-top: 5rem;
}

button {
  padding: 0.6rem;
  background-color: var(--primary-color-dark);
  color: #ffffff;
  border-radius: 10px;
}


/* Default styles for larger screens */
/* ... (your existing styles) ... */

/* Media query for tablets */
/* Media query for tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem !important;
  }

  .navbar-toggler span {
    width: 20px !important;
    height: 3px !important;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1),
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    left: 8px !important;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    top: 8px !important;
  }

  .navbar-nav .nav-item {
    margin-left: 10px;
  }

  .section__container {
    padding: 3rem 1rem;
  }

  .header {
    padding: 4rem;
  }

  .header__content>div {
    padding: 2rem;
  }

  .destination__grid,
  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallary__container,
  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for phones */
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem !important;
    background-color: #1b1a2ea9 !important; /* Add a background color */
    box-shadow: 0px 5px 5px 0px rgba(9, 5, 29, 0.171) !important; /* Add a subtle box shadow */
  }

  .navbar-toggler span {
    width: 18px !important;
    height: 2px !important;
    background-color: #fff !important; /* Change the color of the toggle bars */
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1),
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    left: 8px !important;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    top: 8px !important;
    transform: rotate(-45deg) !important; /* Add a hamburger icon effect */
  }

  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0 !important; /* Hide the middle bar for a cleaner appearance */
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    left: 8px !important;
    transform: rotate(45deg) !important; /* Add a hamburger icon effect */
  }

  .navbar-nav .nav-item {
    margin-left: 10px;
  }

  .section__container {
    padding: 2rem 1rem;
  }

  .header {
    padding: 2rem;
  }

  .header__content>div {
    padding: 1rem;
  }

  .destination__grid,
  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container,
  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.para {
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  opacity: 0.9;
  
}
.para p{
  color: black;
}
.start
{
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://st3.depositphotos.com/2404187/35399/i/450/depositphotos_353997618-stock-photo-wood-table-top-blur-bokeh.jpg') center/cover no-repeat;
  height: 100%;
  color: white;
  padding-top: 1rem;
}
.start h1{
  color: white;
  font-weight: 800;
  -webkit-text-stroke: 1px black; /* Adds a 1px black border around the text for WebKit browsers */
}
.menu
{
  text-align: center;
  justify-content: center;
}